@import"https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
:root {
    --primary-background-color: #121215;
    --secondary-background-color: #19191d;
    --tertiary-background-color: #1c1c21;
    --fff-background-color: #222228;
    --text-color: #e4e4e4;
}
a {
    all: unset;
    cursor: pointer;
}

html {
    background-color: var(--primary-background-color);
    font-family: Inter;
    scroll-behavior: smooth;
    color: #787878;
}

html ::-webkit-scrollbar {
    height: 8px;
    width: 8px
}

html ::-webkit-scrollbar-thumb {
    background-color: var(--secondary-background-color);
}

html ::-webkit-scrollbar-track {
    background-color: var(--primary-background-color);
}
.header {
    font-weight: 600;
    padding-top: 175px;
    padding-left: 17%;
    padding-bottom: 20px;
}

.greetings {
    font-size: 75px;
    font-weight: 600;
    color: var(--text-color);
    padding-bottom: 3.25px;
}

.color-text {
    background-image: linear-gradient(to right, #00b47e, #00a2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.discord-status {
    padding-bottom: 7.5px;
    font-weight: 300;
    color: var(--text-color);
    opacity: .8;
}

.spotify-song {
    padding-bottom: 7.5px;
    font-weight: normal;
    color: var(--text-color);
    opacity: .8;
}
.description{
    font-weight: 300;
    color: var(--text-color);
    opacity: .8;
    max-width: 525px;
}
.social-card{
    font-weight: 600;
    padding-top: .5%;
    padding-left: 17%;
    padding-bottom: 20px;
}
.spotify{
    padding-right: 5px;
}
.github {
    padding-right: 5px;
}





